<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/seongjae8800" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100009182560973" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.linkedin.com/in/seongjae-yoo-05432012a/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.seongjae1898@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; IT표류교실. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
</footer>   