<!-- Items -->
<section class="main items">
    <article class="item">
        <header>
            <a href="{% url 'DataAnalysis' %}"><img src="../static/images/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="" /></a>
            <h3>Data Analysis</h3>
            <figcaption>Photo by luke on unsplash</figcaption>
        </header>
        <p>데이터 분석툴, 분석 이론, ETL, 시각화, 대시보드, KPI, 로그분석, 신호처리 등등...</p>
        <ul class="actions">
            <li><a href="{% url 'DataAnalysis' %}" class="button">More</a></li>
        </ul>
    </article>
    <article class="item">
        <header>
            <a href="{% url 'CaseStudy' %}"><img src="../static/images/kelly-sikkema-v9FQR4tbIq8-unsplash.jpg" alt="" /></a>
            <h3>Case Study</h3>
            <figcaption>Photo by Kelly Sikkema on Unsplash</figcaption>
        </header>
        <p>서비스, 트렌드, UI/ UX에 대한 분석과 학습을 통해 프로젝트와 트렌드를 이해</p>
        <ul class="actions">
            <li><a href="{% url 'CaseStudy' %}" class="button">More</a></li>
        </ul>
    </article>
    <article class="item">
        <header>
            <a href="{% url 'Cloud' %}"><img src="../static/images/c-dustin-K-Iog-Bqf8E-unsplash.jpg" alt="" /></a>
            <h3>Cloud Computing</h3>
            <figcaption>Photo by C Dustin on Unsplash</figcaption>
        </header>
        <p>클라우드 컴퓨팅 등 다양한 서비스 이해</p>
        <ul class="actions">
            <li><a href="{% url 'Cloud' %}" class="button">More</a></li>
        </ul>
    </article>
    <article class="item">
        <header>
            <a href="{% url 'Git' %}"><img src="../static/images/yancy-min-842ofHC6MaI-unsplash.jpg" alt="" /></a>
            <h3>Git</h3>
            <figcaption>Photo by Yancy Min on Unsplash</figcaption>
        </header>
        <p>협업을 위한 Git 정리</p>
        <ul class="actions">
            <li><a href="{% url 'Git' %}" class="button">More</a></li>
        </ul>
    </article>
    <article class="item">
        <header>
            <a href="{% url 'DjangoContents' %}"><img src="../static/images/django.png" alt="" /></a>
            <h3>Django</h3>
            <figcaption></figcaption>
        </header>
        <p>장고 블로그</p>
        <ul class="actions">
            <li><a href="{% url 'DjangoContents' %}" class="button">More</a></li>
        </ul>
    </article>
</section>
